@font-face {
  font-family: "MontserratBold";
  src: url(./src/assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(./src/assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Allura";
  src: url(./src/assets/fonts/Allura-Regular.ttf);
}

html, body, ul, h1, h2 {
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  vertical-align: top;
  text-transform: uppercase;
  font-family: MontserratBold;
}

body {
  width: 1440px;
  height: fit-content;
  background-color: #FFFFFF;
}

header {
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  display: flex;
  padding: 0 82px;
}

#header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: MontserratBold;
  font-size: 12px;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4.66px;
  padding: 8px 20px;
}

#menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 8px;
  list-style-type: none;
}

section {
  box-sizing: border-box;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 8px;
  overflow: hidden;
}

#hero {
  height: 524px;
  background-image: url(./src/assets/img/hero-section.png);
}

#hero-container {
  box-sizing: border-box;
  width: 426px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 60px 0;
  color: #FFFFFF;
}

.caption {
  line-height: 100%;
  vertical-align: top;
  font-family: Allura;
  font-size: 24px;
  letter-spacing: 1.2px;
}

#hero-header {
  padding: 0;
  vertical-align: top;
  text-align: center;
  font-family: MontserratBold;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#hero button {
  width: 235px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 20px;
  color: #FFFFFF;
  border: none;
  background-color: black;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: MontserratBold;
  font-size: 12px;
}

#about {
  height: 648px;
  background-image: url(./src/assets/img/about-section.png);
}

#about-container {
  display: flex;
  flex-direction: row;
  width: 1276px;
  height: 528px;
  border-radius: 20px;
  background-color: #FFFFFF;
  overflow: hidden;
}

#about-text-container {
  box-sizing: border-box;
  height: 100%;
  width: 658px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 160px 60px;
  padding-right: 152px;
}

#about-text-caption {
  color: #FF4646;
}

#about-text-header {
  line-height: 152%;
  font-size: 24px;
  letter-spacing: 4px;
}

#about-text-paragraph {
  line-height: 148%;
  font-family: Montserrat;
  font-size: 16px;
}

#about-image {
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
}

#slider {
  height: 488px;
  flex-direction: column;
  align-items: center;
  background-image: url(./src/assets/img/slider-section.png);
}

#slider-container {
  width: 1276px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #FFFFFF;
}

#slider-caption-container {
  width: 426px;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

#slider-row {
  width: 1993px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-self: self-start;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  text-align: center;
  vertical-align: top;
  font-family: MontserratBold;
  font-size: 80px;
  text-transform: uppercase;
}

#slider-row img {
  border-radius: 20px;
  overflow: hidden;
}

#slider-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 20px;
}

#slider-button-container div {
  width: 56px;
  height: 56px;
}

#left-btn {
  background-image: url(./src/assets/svg/left-button.svg);
}

#right-btn {
  background-image: url(./src/assets/svg/right-button.svg);
}

#best-gifts {
  flex-direction: column;
  height: 554px;
  gap: 20px;
  color: #FFFFFF;
  background-image: url(./src/assets/img/best-gifts-section.png);
}

#best-gifts-caption-container {
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#best-gifts-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.best-gift-card {
  width: 310px;
  height: 342px;
  border-radius: 20px;
  background-color: #FFFFFF;
  overflow: hidden;
}

.best-gift-card img {
  background-color: #ECF3F8;
}

.best-gift-card-descr {
  width: 310px;
  height: 342px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: black;
}

#CTA {
  height: 668px;
  background-image: url(./src/assets/img/CTA-sectoin.png);
}